<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script type="text/javascript" src="~/angularJS/lib/angular.min.js"></script>
    <script type="text/javascript" src="~/angularJS/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="~/angularJS/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="~/angularJS/lib/angular-cookies.min.js"></script>
    <script type="text/javascript" src="~/angularJS/app.js"></script>
    <script type="text/javascript" src="~/angularJS/factory/Clients.js"></script>
    <script type="text/javascript" src="~/angularJS/factory/IPAddress.js"></script>
    <script type="text/javascript" src="~/angularJS/clientIpNetController.js"></script>

</head>
<body ng-app="ipApp">
        @RenderBody()
</body>
</html>